<app-topbar></app-topbar>
<router-outlet></router-outlet>
<div style="height:20px;"></div>
<!--
<div class="app-content">
  <md-card>
    <h1>{{title}}</h1>
  </md-card>

  <md-card>
    <button md-button>FLAT</button>
    <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
    <button md-raised-button color="primary">PRIMARY RAISED</button>
    <button md-raised-button color="accent">ACCENT RAISED</button>
    <button md-raised-button color="warn">WARN RAISED</button>
  </md-card>
</div>
-->
