<div class="app-content" layout="row" *ngIf="device && deviceHistory && deviceRecords">
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card style="min-height:200px;">
      <md-card-title>Info for device #{{device.DeviceId}}</md-card-title>
      <md-card-subtitle>{{device.ShipmentCategory}}</md-card-subtitle>
      <md-card-content>
        <!-- <div *ngIf="device.Condition === 'poor'"> -->
        <div *ngIf="maxTemp > 55">
          Shipment Status: <button md-icon-button>
            <md-icon style="color:red;">priority_high</md-icon></button>
        </div>
        <!-- <div *ngIf="device.Condition === 'good'"> -->
        <div *ngIf="maxTemp <= 55">
          Shipment Status: <md-icon style="color:green;">check</md-icon>
        </div>
      </md-card-content>
      <md-card-actions>
        <button style="margin-left: 10px;" md-button color="accent" (click)="goBack()">Back</button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <map-component></map-component>
    </md-card>
  </div>
</div>
<div class="app-content" layout="row" *ngIf="device && deviceHistory && deviceRecords">
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <md-card-subtitle>Temperature</md-card-subtitle>
      <md-card-content>
        Highest Temperature Reached: {{deviceRecords.temperature}}<br />
        Ambient Temperature: {{device.TemperatureData.ambientTemperature}}<br />
        Target Temperature: {{device.TemperatureData.targetTemperature}}<br />
      </md-card-content>
    </md-card>
  </div>
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <md-card-subtitle>Acceleration</md-card-subtitle>
      <md-card-content>
        Highest Acceleration Reached: {{deviceRecords.acceleration}}<br />
        x": {{device.AccelerometerData.x}}<br />
        y": {{device.AccelerometerData.y}}<br />
        z": {{device.AccelerometerData.z}}<br />
      </md-card-content>
    </md-card>
  </div>
</div>
<div class="app-content" layout="row" *ngIf="device && deviceHistory && deviceRecords">
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <md-card-subtitle>Humidity</md-card-subtitle>
      <md-card-content>
        Humidity Temperature: {{device.HumidityData.humidityTemperature}}<br />
        Relative Humidity: {{device.HumidityData.relativeHumidity}}<br />
      </md-card-content>
    </md-card>
  </div>
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <md-card-subtitle>Magnetometer</md-card-subtitle>
      <md-card-content>
        Highest Magnetization Reached: {{deviceRecords.magnet}}<br />
        x: {{device.MagnetometerData.x}}<br />
        y: {{device.MagnetometerData.y}}<br />
        z: {{device.MagnetometerData.z}}<br />
      </md-card-content>
    </md-card>
  </div>
</div>
<div class="app-content" layout="row" *ngIf="device && deviceHistory && deviceRecords">
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <md-card-subtitle>Gyroscope</md-card-subtitle>
      <md-card-content>
        x: {{device.GyroscopeData.x}}<br />
        y: {{device.GyroscopeData.y}}<br />
        z: {{device.GyroscopeData.z}}<br />
      </md-card-content>
    </md-card>
  </div>
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <md-card-subtitle>Other Data</md-card-subtitle>
      <md-card-content>
        Highest Light Reading Reached: {{deviceRecords.light}}<br />
        Barometer: {{device.BarometerData}}<br />
        Luxometer: {{device.LuxometerData}}<br />
      </md-card-content>
    </md-card>
  </div>
</div>
<div class="app-content" layout="row" *ngIf="device && deviceHistory && deviceRecords">
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <div style="display: block;">
       <canvas baseChart
                   [datasets]="lineChartData"
                   [labels]="lineChartLabels"
                   [options]="lineChartOptions"
                   [colors]="lineChartColors"
                   [legend]="lineChartLegend"
                   [chartType]="lineChartType">
        </canvas>
       </div>
    </md-card>
  </div>
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <div style="display: block;">
       <canvas baseChart
                   [datasets]="accChartData"
                   [labels]="accChartLabels"
                   [options]="accChartOptions"
                   [colors]="accChartColors"
                   [legend]="accChartLegend"
                   [chartType]="accChartType">
        </canvas>
       </div>
    </md-card>
  </div>
</div>
<div class="app-content" layout="row" *ngIf="device && deviceHistory && deviceRecords">
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <div style="display: block;">
       <canvas baseChart
                   [datasets]="magChartData"
                   [labels]="magChartLabels"
                   [options]="magChartOptions"
                   [colors]="magChartColors"
                   [legend]="magChartLegend"
                   [chartType]="magChartType">
        </canvas>
       </div>
    </md-card>
  </div>
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <div style="display: block;">
       <canvas baseChart
                   [datasets]="lightChartData"
                   [labels]="lightChartLabels"
                   [options]="lightChartOptions"
                   [colors]="lightChartColors"
                   [legend]="lightChartLegend"
                   [chartType]="lightChartType">
        </canvas>
       </div>
    </md-card>
  </div>
</div>
