<div class = "app-content">
  <md-card>
    <!-- Search box that takes a shipment ID. Clicking the search button or pressing
    enter starts the searh -->
    <div id="search-component">
      <h4>Search By Shipment ID</h4>
      <button md-icon-button>
         <md-icon (click)="search(searchBox.value)"
                  class="md-24">search</md-icon>
      </button>
      <md-input dividerColor="primary" #searchBox label="ID"
                (keyup.enter)="search(searchBox.value)"
                value="{{this.urlTerm}}">
      </md-input>
    </div>
  </md-card>
  <!-- For each result retrieved from the search, display a card with the result's
  ID and a button linking to the details page for that result -->
  <div>
    <div *ngFor="let device of results"
         (click)="gotoDetail(device)" class="search-result" >
      <md-card><md-card-content><button md-button>{{device.DeviceId}}</button></md-card-content></md-card>
    </div>
  </div>
</div>
