<div class = "app-content" layout="row">
  <div class="card-col" flex="50" layout="column" flex-xs="100">
    <md-card>
      <!-- Doughnut chart -->
      <md-card-title>Active Shipments: {{activeShipments}}</md-card-title>
      <md-card-content>
        <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [options]="doughnutChartOptions"
          [colors]="doughnutChartColors"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
        <div style="justify-content: flex-start !important;" class = "app-content" layout = "row">
          <div flex="50" layout="column" flex-xs="100">
            <p></p><md-icon style="color: #9C27B0;">label</md-icon>
            Durable: {{doughnutChartData[0]}}
            <p></p><md-icon style="color: #3F51B5;">label</md-icon>
            Somehwat Sensitive: {{doughnutChartData[1]}}
            <p></p><md-icon style="color: #009688;">label</md-icon>
            Sensitive: {{doughnutChartData[2]}}
            <p></p><md-icon style="color: #FFEB3B;">label</md-icon>
            Highly Sensitive: {{doughnutChartData[3]}}
            <p></p><md-icon style="color: #F44336;">label</md-icon>
            Critical: {{doughnutChartData[4]}}
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div class="card-col" flex="50" layout="column" flex-sm="100">
    <md-card>
      <!-- Bar chart -->
      <md-card-content>
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="barChartColors"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
        <p></p><md-icon style="color: #03A9F4;">label</md-icon>
        Good Condition: {{goodCount}}
        <p></p><md-icon style="color: #F44336;">label</md-icon>
        Poor Condition: {{poorCount}}
      </md-card-content>
    </md-card>
  </div>
</div>
