<HR COLOR="#FFC107" position="relative" WIDTH="auto">
<HR COLOR="#FFC107" position="relative" WIDTH="auto">
<md-toolbar class="tool-time" color="primary">
  <!--<span>Krang</span>-->
  <span ><img class="img-cont" src="/United_Parcel_Service_logo_2014.svg.png" /></span>
  <span class="app-toolbar-filler"></span>
  <md-toolbar-row>
    <button md-button (click)="gotoStats()">STATS</button>
    <button md-button (click)="gotoDevices()">SHIPMENTS</button>
  </md-toolbar-row>
  <span>CSMS</span>
</md-toolbar>
